<header [ngClass]="{'create': ifCreate}">
  <div class="nav">
    <div class="walletlogo">
      <a href="javascript:;">
        <img src="assets/imgs/icons/wallet_logo_blk.png" alt="NBAI Wallet" id="logo" />
      </a>
    </div>
    <div class = "network"  (click)="showPopup = true">
        <span class="node">{{translationService.isEn? translationService.enMap['NETWORK']:translationService.cnMap['NETWORK']}}</span>
        <i class="fa fa-cog config"></i>
    </div>
    <div class="download">
      <a href="https://github.com/nebulaai/nbai-wallet/releases" target="_blank">
        {{translationService.isEn? translationService.enMap['OFFLINEVERSION']:translationService.cnMap['OFFLINEVERSION']}}
      </a>
    </div>
    <div class="setting">
      <a (click)="toggleSetting()" href="javascript:;" [ngClass]="{'m-header__setting-show': settingShow}">
        <img src="assets/imgs/icons//Settings-01.svg" style="width: 36px; display: none;" />
        <input id="en" name="language" type="radio" (change)="setLang('en')" />
        <label for="en">EN</label> &nbsp;|&nbsp;
        <input id="cn" name="language" type="radio" (change)="setLang('cn')" />
        <label for="cn">中文</label>
      </a>
    </div>
  </div>
</header>

<div class="lightbox" id="lightbox" *ngIf = "showPopup">
  <div class="lightbox-content">
    <div id="close" (click)="showPopup = false" class="dark-blue"><i class="fa fa-times"></i></div>
    <div class = "inside">
        <h3 class="dark-blue text-left">{{translationService.isEn? translationService.enMap['NETWORK']:translationService.cnMap['NETWORK']}}</h3>
        <p><b>{{translationService.isEn? translationService.enMap['NODE']:translationService.cnMap['NODE']}}</b></p>
        <input type="text" class="node" [(ngModel)]="nodeAddress" (keyup) = "checkNote()" [ngClass] = "{'invalid': !validNode}">
        <div *ngIf = "!validNode" class = "error">Invalid node address</div>
        <a class="confirm" (click)="validNode && setNode();" [ngClass] = "{'disabled': !validNode}">Confirm</a>
        <a class="cancel" (click)="showPopup = false">Cancel</a>
    </div>
  </div>
</div>


