<div class="footer styledfoot">
  <footer class="text-center">
    <div class="logo">
      <a href="./#/">
        <img src="assets/imgs/explorer_logo.png" alt="logo">
      </a>
    </div>
    <div class="links">
      <span class="link"><a href="https://scan.nbai.io" target="_blank"
          class="translate-links-wallet">Scan</a></span>
      <span class="link"><a href="https://nbai.io/" target="_blank" class="translate-links-orion">Orion</a></span>
      <span class="link"><a href="https://nebulaai.org" target="_blank"
          class="translate-links-foundation">NBAI</a></span>
    </div>
    <div class="copyright translate-copyright-content">
      ©Nebula AI Explorer 2021
    </div>
  </footer>
</div>