<div class="popup" id="popup">
  <form name="editForm" role="form" novalidate (ngSubmit)="submit()" #editForm="ngForm">

    <div class="modal-header">
      <div class="modal-title" id="myUserLabel">
        {{translationService.isEn? translationService.enMap['EXPORTKEYSTORE']:translationService.cnMap['EXPORTKEYSTORE']}}</div>
      <a href="javascript:;"  aria-hidden="true" (click)="close()">&times;</a>
    </div>
    <div class="modal-body">
      <div class="subtitle">
          {{translationService.isEn? translationService.enMap['STOREOFFLINE']:translationService.cnMap['STOREOFFLINE']}}
      </div>
      <div class="desc">{{translationService.isEn? translationService.enMap['PLEASESTORE']:translationService.cnMap['PLEASESTORE']}}</div>
      <div class="subtitle">{{translationService.isEn? translationService.enMap['DONTTRANSFER']:translationService.cnMap['DONTTRANSFER']}}</div>
      <div class="desc">{{translationService.isEn? translationService.enMap['DONTUSEMAIL']:translationService.cnMap['DONTUSEMAIL']}}</div>
      <div class="subtitle">{{translationService.isEn? translationService.enMap['STORE']:translationService.cnMap['STORE']}}</div>
      <div class="desc"> {{translationService.isEn? translationService.enMap['IFYOU']:translationService.cnMap['IFYOU']}}</div>

      <div class="form-group" [ngClass]="{'has-danger': password.invalid && (password.dirty || password.touched ),
                                'has-success': password.valid && (password.dirty || password.touched)}">
        <div>
          <label>{{translationService.isEn? translationService.enMap['ENTER']:translationService.cnMap['ENTER']}}</label>
        </div>
        <input type="password" name="password" #password="ngModel" ngModel maxlength="30" [disabled]="!sendPassword" required>
        <span *ngIf="password.errors?.incorrect">{{translationService.isEn? translationService.enMap['PASSWORDINCORRECT']:translationService.cnMap['PASSWORDINCORRECT']}}</span>
      </div>
      <textarea *ngIf="!sendPassword" class="full-width" name="keystore" id="keystore" rows="5">{{keystore}}</textarea>

    </div>
    <div class="modal-footer">
      <button class="default" type="submit" [disabled]="editForm.form.invalid">
          {{sendPassword? 
            (translationService.isEn? translationService.enMap['EXPORT']:translationService.cnMap['EXPORT']):
            (translationService.isEn? translationService.enMap['DOWNLOAD']:translationService.cnMap['DOWNLOAD'])
          }}
      </button>
    </div>
  </form>
</div>