<div class="popup" id="popup">
  <form name="editForm" role="form" novalidate (ngSubmit)="next()" #editForm="ngForm">
    <div class="modal-header">
      <div class="modal-title" id="myUserLabel">
        {{translationService.isEn? translationService.enMap['ADD']:translationService.cnMap['ADD']}}</div>
      <a href="javascript:;" data-dismiss="modal" aria-hidden="true" (click)="close()">&times;</a>
    </div>
    <div class="modal-body">
      <div class="subtitle">
        {{translationService.isEn? translationService.enMap['THESE']:translationService.cnMap['THESE']}}
      </div>
      <div class="mnemonic-words" [innerHTML]="words">
      </div>
    </div>
    <div class="modal-footer">
      <div>
        <span class="dot"></span>
        <span class="dot active"></span>
        <span class="dot"></span>
      </div>
      <div class="btn">
        <button type="submit" class="next">
          {{translationService.isEn? translationService.enMap['NEXT']:translationService.cnMap['NEXT']}}
        </button>
      </div>
    </div>
  </form>
</div>